<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- why the hell doesn't this work? -->
    <!--<h3 th:text="${jobs.size()}"></h3> -->

    <!-- but this works?  why? -->
    <!-- <table th:each="job : ${jobs}">
      <h3 th:text="${jobs.size()}"></h3>
    </table> -->

    <h3 th:text="${jobssize}"></h3>

    <!-- TODO #2 - Loop over jobs map to display all job fields -->
    <table th:fragment="lazy" th:each="job : ${jobs}" class="job-listing">
      <tr th:each="key : ${job.keySet()}" >
        <td th:text="${#strings.capitalizeWords(key)}"></td>
        <td th:text="${job.get(key)}" ></td>
      </tr>
    </table>

</div>

</body>
</html>